* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
  }
  
  #headText {
    font-weight: 700;
  }
  
  p {
    margin: 1rem auto;
  }
  
  th,
  td {
    padding-left: 2rem;
  }
  
  .success,
  .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px;
  }
  
  .success {
    background: green;
  }
  
  .error {
    background: red;
  }
